In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/predicted_pickups.csv")

In [3]:
df

        DTD  SFLTNO     FLTDATE ORIG DEST  CAP BCL  pickup    price
0         0      10  2024-01-01  SVO  LED  167   H       3  11697.0
1         1      10  2024-01-01  SVO  LED  167   H       1  11697.0
2         2      10  2024-01-01  SVO  LED  167   H       0  11697.0
3         3      10  2024-01-01  SVO  LED  167   H       1  11697.0
4         4      10  2024-01-01  SVO  LED  167   H       3  11697.0
...     ...     ...         ...  ...  ...  ...  ..     ...      ...
839995  295      10  2024-07-18  SVO  LED  167   N       0   5067.0
839996  296      10  2024-07-18  SVO  LED  167   N       0   5067.0
839997  297      10  2024-07-18  SVO  LED  167   N       0   5067.0
839998  298      10  2024-07-18  SVO  LED  167   N       0   5067.0
839999  299      10  2024-07-18  SVO  LED  167   N       0   5067.0

[840000 rows x 9 columns]

In [5]:
df.sample(20)

        DTD  SFLTNO     FLTDATE ORIG DEST  CAP BCL  pickup     price
498049   49      10  2024-04-28  SVO  LED  167   R       0   4397.00
47494    94      10  2024-01-12  SVO  LED  167   E       0   5737.00
710497   97      10  2024-06-18  SVO  LED  167   T       0   6407.00
44241   141      10  2024-01-11  SVO  LED  167   B       0  28487.00
194193   93      10  2024-02-16  SVO  LED  167   V       0   3233.79
454498  298      10  2024-04-18  SVO  LED  167   T       0   6407.00
513078   78      10  2024-05-02  SVO  LED  167   T       0   6407.00
60826   226      10  2024-01-15  SVO  LED  167   M       0  22757.00
37714   214      10  2024-01-09  SVO  LED  167   N       0   5067.00
93588   288      10  2024-01-23  SVO  LED  167   V       0   3233.79
604560   60      10  2024-05-23  SVO  LED  167   N       0   5067.00
540134  134      10  2024-05-08  SVO  LED  167   R       0   4397.00
713529  129      10  2024-06-18  SVO  LED  167   K       0  14577.00
752399  299      10  2024-06-28  SVO  LED  167   U       0  18207.00
637305  105      10  2024-05-31  SVO  LED  167   G       0   3717.00
221083  283      10  2024-02-22  SVO  LED  167   R       0   4397.00
453078   78      10  2024-04-17  SVO  LED  167   K       0  14577.00
759319   19      10  2024-06-29  SVO  LED  167   Q       3   7407.00
308035  235      10  2024-03-14  SVO  LED  167   E       0   5737.00
151377  177      10  2024-02-06  SVO  LED  167   H       0  11697.00

In [1]:
df.describe()

NameError: name 'df' is not defined